:root {
    --background-color: rgb(17, 24, 39);
    --panel-color: rgb(31, 41, 55);
    --panel-border-color: rgb(55, 65, 81);
    --highlighted-panel-color: rgb(45, 55, 68);
    --text-color: rgb(209, 213, 219);
    --highlighted-text-color: white;
}

body {
    background-color: var(--background-color);
    margin: 0px;
    font-size: 1.125rem;
    font-style: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: var(--text-color);
}

/*
Aside exists optionally, and should be put alongside main in a flex-wrap.
If the page goes into narrow mode (page width < 1100px) it's width will increase to 100%, taking up full space and pushing main down.
*/

main {
    flex-grow: 1;
}

.aside-container {
    display: flex;
    gap: 10px;
}

aside {
    width: 20em;
    height: fit-content;
    flex: auto 0 0;
}

@media screen and (max-width: 1100px) {
    .aside-container {
        flex-direction: column;
    }

    aside {
        width: 100%;
    }
}

section {
    border-radius: 10px;
    border: 1px solid var(--panel-border-color);
    padding: 20px;
    background-color: var(--panel-color);
}

li {
    margin: 10px 0;
}

h1, h2, h3, h4 {
    margin: 0;
}

section hr {
    margin: 20px -20px;
    border-color: var(--panel-border-color);
}

.flex {
    display: flex;
}

.flex.wrap {
    flex-wrap: wrap;
    justify-content: center;
}

.flex.x-between {
    justify-content: space-between;
}

.flex.x-center {
    justify-content: center;
}

.flex.y-center {
    align-items: center;
}

.flex.column {
    flex-direction: column;
}

.flex.gap-10 {
    gap: 10px;
}

a {
    color: var(--text-color);
    font-weight: bold;
    cursor: pointer;
    user-select: none;
}

a:hover {
    color: var(--highlighted-text-color);
}

a.highlighted {
    color: white;
}

a.button {
    box-sizing: border-box;
    display: block;
    text-align: center;
    margin: 5px;

    border-radius: 10px;
    border: 1px solid var(--panel-border-color);
    padding: 20px;
    background-color: var(--panel-color);
}

.page-width {
    margin: 0 auto;

    width: 100%;
    max-width: 1100px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    font-size: 1.125rem;

    gap: 1.5rem;
    max-width: calc(1.125rem * 56 + 1.5rem * 3);
}

.topbar {
    display: flex;
    box-sizing: border-box;
    height: 70px;
    border-radius: 0px 0px 10px 10px;
    border: 1px solid var(--panel-border-color);
    background-color: var(--panel-color);
    padding: 10px;
    margin-bottom: 10px;
}

.topbar a {
    display: flex;
    padding: 0px 30px;
    color: var(--text-color);
    transition: background-color 0.1s;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-decoration: none;
    font-size: x-large;
}

.topbar a:hover {
    color: var(--highlighted-text-color);
    background-color: var(--highlighted-panel-color);
}

#hirarchy summary {
    list-style-type: none;
}

#hirarchy ul {
    list-style-type: none;
    padding: 0px;
}

#hirarchy li {
    position: relative;
    padding: 0.5em 0 0 32px;
}

#hirarchy img {
    position: absolute;
    top: 1em;
    transform: translate(0, -50%);
    left: 0;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

#hirarchy li > img {
    content: url('../images/file_32px.png');
}

#hirarchy summary > img {
    content: url('../images/folder_32px.png');
}

#hirarchy details[open] > summary > img {
    content: url('../images/folder_open_32px.png');
}

#placeholder-iframe {
    box-sizing: border-box;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 975px;
    height: 675px;
    background-color: black;
}