:root {
    --background-color: rgb(17, 24, 39);
    --panel-color: rgb(31, 41, 55);
    --panel-border-color: rgb(55, 65, 81);
    --highlighted-panel-color: rgb(45, 55, 68);
    --text-color: rgb(209, 213, 219);
    --highlighted-text-color: white;
}

body {
    background-color: var(--background-color);
    margin: 0px;
    font-size: 1.125rem;
    font-style: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: var(--text-color);
}

.topbar {
    display: flex;
    box-sizing: border-box;
    height: 70px;
    border-radius: 0px 0px 10px 10px;
    border: 1px solid var(--panel-border-color);
    background-color: var(--panel-color);
    padding: 10px;
    margin: 0 auto;

    width: 50%;
    min-width: 1100px;
}

.topbar a {
    display: flex;
    padding: 0px 30px;
    color: var(--text-color);
    transition: background-color 0.1s;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-decoration: none;
    font-size: x-large;
}

.topbar a:hover {
    color: var(--highlighted-text-color);
    background-color: var(--highlighted-panel-color);
}

content {
    display: block;
    margin: 0 auto;

    width: 50%;
    min-width: 1100px;
}

@media screen and (max-width: 1100px) {
    .topbar {
        width: 100%;
        min-width: 0px;
    }

    content {
        width: 100%;
        min-width: 0px;
    }
}

section {
    margin-top: 10px;

    border-radius: 10px;
    border: 1px solid var(--panel-border-color);
    padding: 20px;
    background-color: var(--panel-color);
}

h2 {
    margin: 0;
}

section hr {
    margin: 20px -20px;
    border-color: var(--panel-border-color);
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    color: var(--text-color);
    font-weight: bold;
}

a:hover {
    color: var(--highlighted-text-color);
}

a.button {
    box-sizing: border-box;
    display: block;
    text-align: center;
    margin: 5px;

    border-radius: 10px;
    border: 1px solid var(--panel-border-color);
    padding: 20px;
    background-color: var(--panel-color);
}

.placeholder-iframe {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 975px;
    height: 675px;
    background-color: black;
}