:root {
    --page-width: min(1100px, 100vw);

    --background-color: rgb(17, 24, 39);
    --panel-color: rgb(31, 41, 55);
    --panel-border-color: rgb(55, 65, 81);
    --highlighted-panel-color: rgb(45, 55, 68);
    --text-color: rgb(209, 213, 219);
    --highlighted-text-color: white;
}

* {
    box-sizing: border-box;
    line-height: calc(1em + 8px);
}

body {
    background-color: var(--background-color);
    margin: 0px;
    font-size: 1.125rem;
    font-style: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: var(--text-color);
}

/*
Aside exists optionally, and should be put alongside main in a flex-wrap.
If the page goes into narrow mode (page width < 1100px) it's width will increase to 100%, taking up full space and pushing main down.
*/

.aside-container {
    display: grid;
    grid-template-columns: 20em 1fr;
    gap: 10px;
}

.aside-container > * {
    min-width: 0;
}

aside {
    height: fit-content;
    flex: auto 0 0;
}

@media screen and (max-width: 1100px) {
    .aside-container {
        grid-template-columns: 1fr;
    }
}

section {
    border-radius: 10px;
    border: 1px solid var(--panel-border-color);
    padding: 20px;
    background-color: var(--panel-color);
}

li {
    margin: 10px 0;
}

h1, h2, h3, h4 {
    margin: 0;
}

code {
    padding: 0.25em;
    font-size: medium;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: rgb(39, 46, 61);
    color: rgb(158, 187, 194);
}

pre > code {
    display: block;
}

table {
    border-spacing: 0;
}

th, td {
    padding: 1ch;
    border: 1px var(--panel-border-color) solid;
    text-align: left;
}

section hr {
    margin: 20px -20px;
    border-color: var(--panel-border-color);
}

.flex {
    display: flex;
}

.flex.wrap {
    flex-wrap: wrap;
    justify-content: center;
}

.flex.x-between {
    justify-content: space-between;
}

.flex.x-center {
    justify-content: center;
}

.flex.y-center {
    align-items: center;
}

.flex.column {
    flex-direction: column;
}

.flex.gap-10 {
    gap: 10px;
}

a {
    color: var(--text-color);
    font-weight: bold;
    cursor: pointer;
    user-select: none;
}

a:hover {
    color: var(--highlighted-text-color);
}

a.highlighted {
    color: white;
}

a.button {
    display: block;
    text-align: center;
    margin: 5px;

    border-radius: 10px;
    border: 1px solid var(--panel-border-color);
    padding: 20px;
    background-color: var(--panel-color);
}

.page-width {
    margin: 0 auto;

    width: var(--page-width);
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    font-size: 1.125rem;

    gap: 1.5rem;
    max-width: calc(1.125rem * 56 + 1.5rem * 3);
}

.topbar {
    display: flex;
    justify-content: space-between;
    height: 70px;
    border-radius: 0px 0px 10px 10px;
    border: 1px solid var(--panel-border-color);
    background-color: var(--panel-color);
    padding: 10px;
    margin-bottom: 10px;
}

.topbar img[alt="logo"] {
    height: 50px;
}

.topbar a {
    text-decoration: none;
}

.dropdown {
    display: flex;
    flex-direction: column;
    align-items: end;
    z-index: 10;
}

.dropdown input[type="checkbox"] {
    appearance: none;
    margin: 0 0 5px;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.dropdown input[type="checkbox"]::before {
    content: url("../images/hamburger_48px.png");

    width: 100%;
    height: 100%;
    border-radius: 7px;
    border-style: solid;
    border-color: var(--panel-border-color);

    background-color: var(--panel-color);
}

.dropdown input[type="checkbox"]:checked::before {
    content: url("../images/cross_48px.png");
}

.dropdown input[type="checkbox"]:hover::before {
    background-color: var(--highlighted-panel-color);
}

.dropdown input[type="checkbox"] + ul {
    margin: 0;
    padding: 5px;
    list-style-type: none;

    background-color: var(--panel-color);
    border: 1px solid var(--panel-border-color);
    border-radius: 10px;

    transform-origin: 50% 0;
    transition-property: scale opacity;
    transition-duration: 0.2s;

    scale: 1 0;
    opacity: 0;
}

.dropdown input[type="checkbox"]:checked + ul {
    scale: 1 1;
    opacity: 1;
}

.dropdown a {
    padding: 10px;

    display: flex;
    align-items: center;
    font-style: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    text-decoration: none;
    font-size: x-large;
}

.dropdown li {
    margin: 0;
    padding: 0;

    transition: background-color 0.1s;

    color: var(--text-color);
    background-color: var(--panel-color);
}

.dropdown li:hover {
    color: var(--highlighted-text-color);
    background-color: var(--highlighted-panel-color);
}

@media screen and (min-width: 1100px)
{
    .dropdown {
        flex-direction: row;
    }

    .dropdown input[type="checkbox"] {
        display: none;
    }

    .dropdown input[type="checkbox"] + ul {
        padding: 0;

        background-color: transparent;
        border: 1px solid transparent;

        scale: 1 1;
        opacity: 1;

        display: flex;
        flex-direction: row;
    }
}

#hirarchy summary {
    list-style-type: none;
}

#hirarchy ul {
    list-style-type: none;
    padding: 0px;
}

#hirarchy li {
    position: relative;
    padding: 0.5em 0 0 32px;
}

#hirarchy img {
    position: absolute;
    top: 1em;
    transform: translate(0, -50%);
    left: 0;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

#hirarchy li > img {
    content: url('../images/file_32px.png');
}

#hirarchy summary > img {
    content: url('../images/folder_32px.png');
}

#hirarchy details[open] > summary > img {
    content: url('../images/folder_open_32px.png');
}

#placeholder-iframe {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 975px;
    height: 675px;
    background-color: black;
}